body {
  background-color: grey;
}

.container {
  background-color: white;
  max-width: 50%;
  /* max-height: 80%; */
  margin: 0 auto;
}

#heading {
  text-align: center;
  padding-top: 20px;
}

label {
  margin-left: 5%;
}

input {
  min-width: 90%;
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  border: none;
}

.category {
  display: flex;
  justify-content: space-between;
  max-width: 99%;
}

.dropdown {
  min-width: 50%;
  margin-left: 2%;
}

.date {
  min-width: 49%;
  font-size: 20px;
}

#category1 {
  margin-left: 110px;
  margin-top: 12px;
  font-size: 15px;
}

span {
  font-size: 14px;
  margin-left: 3%;
}

.task {
  width: 120px;
  height: 50px;
  margin-left: 32%;
  background-color: green;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.btncmplt{
  width: 110px;
  height: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top:11px;
  position: absolute;
  margin-left: 2.5%;
  background-color: purple;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}


.tasks {
  height: 350px;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  overflow-y: scroll;
  position: relative;
}

/* card styling */
.card {
  max-width: 97%;
  height: 60px;
  background-color: white;
  margin-left: 12px;
}

.complete{
  margin-left: 16%;
  position: absolute;
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.remove {
  margin-left: 42%;
  position: absolute;
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.update {
  position: absolute;
  margin-left: 26%;
  margin-top:1%;
  text-decoration: none;
  color: rgb(209, 66, 9);
  font-size: 20px;
}

.dept {
  width: 60px;
  height: 40px;
  background-color: rgb(42, 25, 175);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 1px solid black;
}